@font-face {
    font-family: 'cal';
    src: url(../fonts/CalSans-SemiBold.otf);
}
@font-face {
    font-family: 'onest';
    src: url(../fonts/OnestRegular1602-hint.ttf);
}
@font-face {
    font-family: 'beware';
    src: url(../fonts/BEWARE.ttf);
}